@model LoginViewModel
@{
    ViewData["Title"] = "Home";
}

<div class="container mt-4" style="max-width: 300px;">
    <h1 class="mb-3">Welkom!</h1>

    <form asp-action="Inloggen" method="post" asp-controller="Home">
        <div class="mb-3">
            <label asp-for="Emailadres" class="form-label"></label>
            <input asp-for="Emailadres" class="form-control" autocomplete="off" />
            <span asp-validation-for="Emailadres" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Paswoord" class="form-label"></label>
            <input asp-for="Paswoord" class="form-control" autocomplete="off" />
            <span asp-validation-for="Paswoord" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <button type="submit" class="btn btn-primary px-3 py-2">Inloggen</button>
        </div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    </form>
    <input asp-for="ReturnUrl" hidden="hidden" />
</div>