<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3 cs-groen">
    <div class="container-fluid">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Landingspagina"><img class="cs-logo" src="~/images/logo_prularia_transparant.png" alt="Prularia logo"></></a>
            <div class="navbar-collapse collapse justify-content-center">
                <ul class="navbar-nav justify-content-center gap-2">
                    <li class="nav-item">
                        <a class="cs-navlink" asp-area="" asp-controller="Artikel" asp-action="Index">Artikelen</a>
                    </li>
                    <li class="nav-item cs-navlink">|</li>
                    <li class="nav-item">
                        <a class="cs-navlink" asp-area="" asp-controller="Categorie" asp-action="Index">Categorieën</a>
                    </li>
                    <li class="nav-item cs-navlink">|</li>
                    <li class="nav nav-item">
                        <a class="cs-navlink" asp-area="" asp-controller="Bestelling" asp-action="Index">Bestellingen</a>
                    </li>
                    <li class="nav-item cs-navlink">|</li>
                    <li class="nav-item">
                        <a class="cs-navlink" asp-area="" asp-controller="Klant" asp-action="Index">Klantbeheer</a>
                    </li>
                    <li class="nav-item cs-navlink">|</li>
                    <li class="nav-item">
                        <a class="cs-navlink" asp-area="" asp-controller="Actiecode" asp-action="Index">Actiecodes</a>
                    </li>
                </ul>
            </div>
        <div class="navbar-nav">

            <div class="nav-item dropdown">

                <a class="nav-link dropdown-toggle btn btn-light btn-lg text-black"
                   href="#"
                   id="profielDropdown"
                   role="button"
                   data-bs-toggle="dropdown"
                   aria-expanded="false">

                    Settings
                </a>

                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profielDropdown">

                    <li>
                        <a class="dropdown-item" asp-controller="Account" asp-action="WijzigWachtwoord">
                            Wachtwoord wijzigen
                        </a>
                    </li>

                    <li>
                        <a class="dropdown-item" asp-controller="Account" asp-action="WijzigGegevens">
                            Gegevens wijzigen
                        </a>
                    </li>

                    <li><hr class="dropdown-divider"></li>

                    <li>
                        <a class="dropdown-item text-danger"
                           asp-controller="Account"
                           asp-action="Logout">
                            Uitloggen
                        </a>
                    </li>

                </ul>

            </div>

        </div>

    </div>
</nav>
@await Component.InvokeAsync("Begroeting")
