<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3 cs-groen">
    <div class="container-fluid">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img class="cs-logo" src="~/images/logo_prularia_transparant.png" alt="Prularia logo"></></a>
    </div>
</nav>
